{% extends 'Watchman/Windex.html' %}
{% block content %}

<section class="content home">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-12">
                        <h2>View Events <small class="text-muted">Welcome to Super City</small></h2>
                    </div>            
                    <div class="col-lg-7 col-md-7 col-sm-12 text-right">
                        
                            <button class="btn btn-white btn-icon btn-round d-none d-md-inline-block float-right m-l-10" type="button">
                                <i class="zmdi zmdi-grid"></i>
                            </button>
                        
                        
                        <ul class="breadcrumb float-md-right">
                            <li class="breadcrumb-item"><a href="{% url 'index' %}"><i class="zmdi zmdi-home"></i> Super City</a></li>
                            <li class="breadcrumb-item">Events</li>
                            <li class="breadcrumb-item active">View Events</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container-fluid">                
                <div class="blog-page">
                    <div class="row clearfix">
                        <div class="col-lg-12 col-md-12 left-box">
                            {% for e in context.e_all %}
                            <div class="card single_post">
                                <div class="body">
                                    <h3 class="m-t-0 m-b-5"><a href="detail.html">{{e.title}}</a></h3>
                                    <ul class="meta">
                                        <li><a href="#"><i class="zmdi zmdi-account col-blue"></i>Posted By: {{e.user_id.role}}</a></li>
                                        <li><a href="#"><i class="zmdi zmdi-timer col-blue"></i>{{e.whenpublished}}</a></li>
                                        <li><a href="#"><i class="zmdi zmdi-comment-text col-blue"></i>Comments: 3</a></li>
                                    </ul>
                                </div>                    
                                <div class="body">
                                    {% if n.pic %}
                                    <div class="img-post m-b-15">
                                        <img class="d-block img-fluid" src="{{e.pic.url}}" alt="Events">
                                    </div>
                                    {% endif %}
                                    {% if n.video %}
                                    <div class="img-post m-b-15">
                                        <video width="320" height="240" controls>
                                            <source src="{{e.video.url}}" type="video/mp4">
                                        </video>
                                    </div>
                                    {% endif %}
                                    <p>{{e.desc}}</p>
                                    <a href="detail.html" title="edit" class="btn btn-round btn-info">Edit</a>
                                    <a href="{% url 'del-notice' pk=e.id %}" title="delete" class="btn btn-round btn-info">Delete</a>                        
                                </div>
                            </div> 
                            {% endfor %}
                        </div>
                    </div>
            </div>
    </div>
</section> 
{% endblock %}